<legend>Thank you</legend>
<div id="request-invite" class="modal" style="display: 'block';">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">&#215;</a>
    <h3>Thank you!</h3>
  </div>
  <div class="modal-body" style="margin-bottom: 120px; overflow: visible">
    <p>We have register to filecloud.com</p>
    <p>If you want become to member in system you can check email for active! </p>
    <p>If you don't received email please contact with us by click <b style="color:hotpink">

        <a href="/users/confirmation/new">"Didn't receive confirmation instructions?"</a>

      </b></p>
      <p>Have a good day for you!</p>
    
  </div>
</div>