<legend>Thank you</legend>
<div id="request-invite" class="modal" style="display: 'block';">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">&#215;</a>
    <h3>Thank you!</h3>
  </div>
  <div class="modal-body" style="margin-bottom: 120px; overflow: visible">
    <p>We have received your request for an invitation to filecloud.com</p>
    <p>If you want become to member in system you can check email for actived! </p>
    <p>If you don't received email please contact with us by send "Didn't receive confirmation instructions?" </p>
    <p>We'll contact you when we launch.</p>
    <p>Share your discovery with your friends!</p>
  </div>
</div>