<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Welcome  <%= @user.name %></h1>
       <!-- <h1>Welcome  <%= @pass%></h1> -->
    <p>
      Please click link bellow: 
      <%= edit_reset_password_url(@user.password_reset) %>
    </p>
  </body>
</html>