<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Welcome  <%= @user.name %></h1>
    <h3>
      Please click link bellow: 
    </h3>
    <p> 
       <%= edit_reset_password_url(@user.password_reset) %>
    </p>
  </body>
</html>