
  <div class="field">
    <p>This file is password protected. Please enter the password here to preview it. </p>
   <input autofocus="autofocus" class="validate[required]" id="password_protect" name="password_protect" type="password" data-prompt-position="bottomRight" placeholder="Enter password"/>
  </div>
  <div class="actions">

  <a type="button" id="btn_showFile" href="#show">AAA</a>
  </div>
