
<%= image_tag @upload.attach.url %>
<br></br>
 <div style="float:right">
	 <button type="button" class="btn btn-large btn-primary" onClick="location.href='/filestreams/<%= @upload.id %>/download'" ><i class="icon-download icon-white"></i>Download</button>
	 <button type="button" class="btn btn-large btn-primary" onClick="location.href='/folders/<%=@upload.folder_id%>&?user_id=<%=@current_user.id%>'">Back to Folder</button>
 </div>
