<legend style="margin-top:45px;">Reset password</legend>
<%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f| %>
 
  <fieldset>
    <p>
      <%= f.label :email,'Email Address:' %>
      <%= f.text_field :email %>
    </p>
    <p><%= f.submit "Reset password" %></p>
  </fieldset>
<% end %>