<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>
<% if signed_in? %>
  <%= render 'users/show'  %>
<% else %>
  <div class="center hero-unit">
    <h1>Welcome to FileCloud</h1>
    <h2>
      Visit home page for the
      <a href="http://framgia.com/">Framgia Company</a>
    </h2>
    <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
  </div>
<% end %>
<div class="fb-like" data-href="http://www.framgia.com" data-send="false" data-width="450" data-show-faces="true" data-font="arial"></div>
