<!-- form edit -->
<div class="row ">
  <%= form_for(@user) do |f| %>
    <div class="span6 fom-inline offset4">
      <div class="span2">
        <%= f.label :name %>
      </div>
      <div class="span3">
        <%= f.text_field :name %>
      </div>

      <div class="span2"><%= f.submit (@user.id.nil?)?  t('system.btn_save') :
          t('system.btn_update'), class: "btn  btn-primary" %></div>

        <% end %>
      </div>

    </div>
    <!-- ket thuc-->