/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require jquery.fileupload-ui
 */
 *= require_tree .
*= require_self
*= require jquery.fileupload-ui


.table-hover th .current {
  padding-right: 12px;
  background-repeat: no-repeat;
  background-position: right center;
}

.table-hover th .asc {
  background-image: url(up_arrow.gif) ;
  background-repeat:no-repeat;
  background-position:right center;
  padding: 10px;
}

.table-hover th .desc {
  background-image: url(down_arrow.gif);
  background-repeat:no-repeat;
  background-position: right center;
  padding: 10px;
}
