<html>
	<head></head>
	<body>
		You was shared a file by <%=@user%><br/>
		Click link below to check out this file <br/>
		<%= url_for(:action => 'show', :controller => 'filestreams', :host => "localhost:3000", :id => @file_id) %>
		<br/>
		<b>Message: </b><br/>
		<%=@message%>
	</body>
</html>
