<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p align="center">
    <h3 align="center">Welcome  <%= @user.name %></h3>
    </p>
    <p align=center>
      Please click link bellow: 
      <a href="<%= edit_reset_password_url(@user.password_reset)%>">Click link to update your password<a>
    </p>
  </body>
</html>