<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>
      <h2>I've shared an item with you.</h2>
      <h3> 
      <%=link_to @file_up_load.attach_file_name,@url%>
      </h3>
    </p>
  </body>
</html>