<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>
      <h2>I've shared an item with you.</h2>
      <h3> 
     
       <a href="<%= file_share_url(@file_share.id)%>"><%=@file_up_load.attach_file_name%><a>
    
      </h3>
    </p>
  </body>
</html>