<html>
	<head></head>
	<body>
	You was shared a folder <br/>
	Visit your profile or checkout link below: <br/>
	<%= url_for(:action => 'show', :controller => 'folders', :only_path => false,:id => @folder_id, :user_id => @user_id) %>
	</body>
</html>
