<html>
	<head></head>
	<body>
	You was shared a folder <br/>
	Visit your profile or checkout link below: <br/>
	<%= url_for(:action => 'show', :controller => 'folders', :host =>"localhost:3000",:id => @folder_id) %>
	</body>
</html>
