<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    Congratulations, you are now a part of Poly Herd,
your username is: <%= @user.name %>.

Login activation code: <%= @user.login %>.
 Please activation:
      
      <%=link_to "Login", :controller => "users", :action => "activate",:host => "localhost:3000", :id => @user.id,:active_code =>@user.login%>
Thanks for joining and have a great day!
  </body>
</html>
