<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p align="center"><h3>Welcome  <%= @user.name %></h1></p>
    <p align="center">
      Please activation: 
      <a href="<%= url_for(:action => 'activate', :only_path => false, :controller => 'users',:id=>@user.id,:active_code =>@activation_code) %>">Click link to activate your account</a>
    </p>
  </body>
</html>