<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Welcome to filecloud.com
    </h1>
    <p>
      We have register account on filecloud.com
    </p>
    <p>
      We'll contact you when you nedd.
    </p>
  </body>
</html>