		<div class="span2">
		<%= f.label :name %></div>

    	<div class="span3"><%= f.text_field :name %></div>

        <div class="span2">
    	<%= f.label :Description %></div>
    	<div class="span3"><%= f.text_area :description , :size => "20x4" %></div>
		</br>
		
