	<% provide(:title, @category.name)%>
<h1 style="color:blue"><%= @category.name%></h1>
<div><h4 style="color:green">These is folder contian in this category:</h4>
	<ul>
     <%@category.folders.each do |f|%>
        <li>
 	        <%= link_to f.name,folder_path(f.id)%>	
        </li>
        <%end%>
    </ul>
</div>	
<div><h4 style="color:green">Description:</h4>
	<%=@category.description%>
</div>
<div>
</div>
<div>
<%=link_to 'Back',categories_path %>
</div>