<%= form_tag(:controller =>'filestreams', :action =>'password_protect', :id =>'password_form', :remote => true) do %>
  <div class="field">
    <%= label_tag :password_protect %>
	<%= password_field_tag :password_protect,params[:password_protect], :autofocus => true, :autocomplete => 'off', :placeholder => 'Enter a new password' %>
  </div>
  <div class="actions">
    
	<input type="submit" value="Save" id="btn_password", name = "commit"/>
  <input type="submit" value="Remove password" id="btn_abc", name = "remove"/>
  </div>
  <%= hidden_field_tag :file_id, file_id %>
<% end %>

