<%= form_tag('/filestreams/create_unlocked', :id =>'preivew_form', :remote => true) do %>
  <div class="field">
    <p>This file is password protected. Please enter the password here to preview it. </p>
   <input autofocus="autofocus" class="validate[required]" id="password_protect" name="password_protect" type="password" data-prompt-position="bottomRight" placeholder="Enter password"/>
  </div>
  <div class="actions">

  <input type="submit" value="Unlock" id="btn_preivew"/>
  </div>
  <%= hidden_field_tag :file_id, file_id %>
<% end %>
<sciprt>
