<%= form_tag('/filestreams/rename', :id =>'rename_form', :method => 'POST') do %>
	<% file_name = Filestream.find(file_id).attach_file_name %>
	<h5>Please enter new name</h5>
  <div class="field">
		<%= text_field_tag 'filename', file_name %>
  </div>
  	<br/>
		<input type="submit" value="Save" id="btn_rename" class="btn btn-primary"/>
  <%= hidden_field_tag :file_id, file_id %>
  <%= hidden_field_tag :folder_id, folder_id %>
<% end %>
