<%provide(:title,"Folders")%>
<h1 style="color:blue"> List Folder</h1>
<%if @folders.blank?%>
    <div>There are not any folder in the app.</div>
<%else%>
     <div>These are current folder in app</div>
     <ul>
     <%@folders.each do |f|%>
        <li>
 	        <%= link_to f.name,folder_path(f.id) %>
 	        <b ><%= link_to 'Edit', edit_folder_path(f.id)%></b>
 	        <b ><%= link_to 'Delete',f,	method: :delete, data:{confirm:"Are you user you want to delete this item?"}%>
 	        </b>	
        </li>
        <%end%>
    </ul>
<%end%>
<div  class="btn"><%=link_to "Create new folder", new_folder_path %></div>
